.player-card{
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    margin: 16px;
    background-color: rgba(230, 230, 230, 0.3); 
    min-width: 300px
}

.player-form{
    margin-top: 50px;
}

.jumbotron{
    background-color: #2b3e50;
    color: white;
    margin-bottom: 0px !important;
}

.text{
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.img{
    background: url(http://timesshamrock.com/football-grass.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}

.img-size{
    width: 170px;
    height: auto;
    max-width: 100%;
}

.button{
    color: black;
}

